@font-face {
        font-family: 'FiraGO';
        src: url("./FiraGOR.ttf");
}

body   {display: flex;  
        justify-content: center;
        background-color: #F2F2F2; }

div    { box-sizing: border-box;
         position: absolute;
         width: 718px;
         top: 52px;
         background: #FFFFFF;
         border: 1px solid #F2F2F2;
         border-radius: 10px;
         align-items: center;
         justify-content: center;
         padding-left: 51px;
         padding-right: 51px;
        padding-bottom: 24px;}



button { display: flex;  
        justify-content: center; 
        margin-top: 13px;
        margin-left: 410px;
        width: 205px;
        height: 47px;
        background: #FFDD04;
        border-radius: 10px;
        align-items: center; 
        border-color: #FFDD04;
        border: 1px solid #FFDD04;
        }

textarea  { box-sizing: border-box;
        font-size: 16x;
        width: 616px;
        height: 148px; 
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 10px;
       }


input  { box-sizing: border-box;
         font-size: 16x;
         width: 616px;
         height: 50px;
         background: #FFFFFF;
         border: 1px solid #E5E5E5;
         border-radius: 10px;
         padding-left: 18px;
        }


select  { box-sizing: border-box;
        font-size: 16px;
        width: 616px;
        height: 50px;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 10px;
        padding-left: 18px;
        color: black;
        }


h2     {Width:  191px;
        Height: 43px;
        margin-top: 40px;
        font-family: 'FiraGO';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: #000000; } 

label    { margin-bottom: 0;
           margin-top: 13px; 
           display: block;
           font-weight: 700;
           width: 191px;
           font-family: 'FiraGO';
           font-style: normal;
           font-weight: 700;
           font-size: 16px;
           line-height: 19px;
           color: #000000;
          }


::placeholder { position: absolute;
                width: 191px;
                height: 14px;
                font-family: 'FiraGO';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #E7E7E7;
                padding-top: 18px;
                }

.black  {color: black}

option   { color: black; }

.country  {color: #E7E7E7;}

div      { padding-bottom:24px ;
        margin-bottom: 50px; }