@font-face {
        font-family: 'FiraGO';
        src: url("./fonts/FiraGO-Regular.ttf");
}

body   {display: flex;  
        justify-content: center; }

div    { box-sizing: border-box;
         position: absolute;
         width: 718px;
         height: 748px;
         top: 52px;
         background: #FFFFFF;
         border: 1px solid #F2F2F2;
         border-radius: 10px;
         align-items: center;
         justify-content: center;
         padding-left: 51px;
         padding-right: 51px;}

p       { width: 68px;
        height: 14px;
        font-family: 'FiraGO';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
        margin-top: 14px;
        margin-right: 56px;
        margin-bottom: 19px;
        margin-left: 81px; }

button { display: flex;  
        justify-content: center; 
        margin-top: 13px;
        width: 205px;
        height: 47px;
        background: #FFDD04;
        border-radius: 10px;
        align-items: center; }

.about  { box-sizing: border-box;
        font-size: 16x;
        width: 616px;
        height: 148px; 
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 10px; }


input  { box-sizing: border-box;
         font-size: 16x;
         width: 616px;
         height: 50px;
         background: #FFFFFF;
         border: 1px solid #E5E5E5;
         border-radius: 10px;
         padding-left: 18px;
        }


h2     {Width:  191px;
        Height: 43px;
        margin-top: 40px;
        font-family: 'FiraGO';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 31px;
        color: #000000; } 

label    { margin-bottom: 0;
           margin-top: 13px; 
           display: block;
           font-weight: 700;
           width: 191px;
           font-family: 'FiraGO';
           font-style: normal;
           font-weight: 700;
           font-size: 16px;
           line-height: 19px;
           color: #000000;
          }

::placeholder { position: absolute;
                width: 191px;
                height: 14px;
                font-family: 'FiraGO';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #E7E7E7;
                padding-top: 18px;
                padding-bottom: 18px;
                }




